
body {
  background-color: #98ccd0;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background: rgba(255, 255, 255, 0.85); 
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 500px;
}


form label {
  display: block;
  margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="date"],
form input[type="password"],
form textarea,
form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


form input[type="submit"] {
  margin-top: 15px;
  background: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background: #45a049;
}

p {
  margin-top: 15px;
  text-align: center;
}
